body {
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
    background: url("./Assets/Images/topo.jpg") no-repeat center fixed;
    background-size: cover;
  }
  
footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
  }
.copyright{
    text-align: center;
    color:rgb(141, 141, 141);
}
@media screen and (min-width: 992px) {
    .portImg {
        width: 42%;
    }
}